
ul{
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    list-style: none;
    background-color: #333;
}
li{
    float: left;
}
li a{
    height: 50px;
    padding: 15px 17px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
}
li a:hover{
    background-color: #111;
    transition: ease-in-out 0.2s ;
    transform: scale(0.9);
}
.active{
    background-color: crimson;
}

* {
    box-sizing: border-box;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.75)) , url("corona2.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; color: white;
    text-align: center;
    font-size:5vw;
    font-family: "Arial Black",sans-serif;
}

.clearfix{
    content: '';
    margin: 7px;
    clear: both;
    display: table;
    overflow: auto;

}
.img-container{
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    padding: 5px;
    width: 30%;
    height: 10%;
    box-shadow: 0px 3px 16px 7px rgba(30,30,60,0.25);
}
.footer{
    color: white;
    font-size: xx-large;
    text-align: center;
    background-color: #333333;
    padding: 50px;
}
.p{
    font-size: large;
    border: 1.5px dashed black;
    overflow: auto;
    padding: 2px;

}

.span1{
    background-color: grey;
    margin:4px;
    font-size:x-large;


}
