html,body{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    list-style: none;
    background-color: #333;
}
li{
    float: left;
}
li a{
    height: 50px;
    padding: 15px 17px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
}
li a:hover{
    background-color: #111;
    transition: ease-in-out 0.2s ;
    transform: scale(0.9);
}
.active{
    background-color: crimson;
}

* {
    box-sizing: border-box;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.75)) , url("covid.jpg");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed; color: white;
    text-align: center;
    font-size:5vw;
    font-family: "Arial Black",sans-serif;
}

.clearfix{
    content: '';
    margin: 7px;
    clear: both;
    display: table;
    overflow: auto;

}
.img-container{
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    padding: 5px;
    width: 30%;
    height: 10%;
    opacity: 0.6;
    box-shadow: 0px 3px 16px 7px rgba(30,30,60,0.25);
}
.img-container:hover{
    opacity: 1.0;
    transition: 0.3s;
    transform: scale(1.06);
}

.p{
    font-size: large;
    overflow: auto;
    padding: 2px;

}

.span1{
    background-color: grey;
    margin:5px;
    padding: 1px;
    font-size:x-large;
    border-radius: 8px;
    color: white;
}
/*<!------------------ footer --------->*/
.footer{
    background: dimgrey;
    margin: 0px;
    padding: 0;
}
.footer ul{
    overflow: hidden;
    list-style: none;
}
.footer li{
    float: left;
    display: block;
    padding: 14px 16px;
}
.li-p:hover{
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
    background: none;
}
.footer li a{
    color: grey;
    font-size:large ;
}
.li-fb:hover{
    transition: 0.3s;
    transform: scale(1.05);
    border-radius: 10px;
    color: white;
    background-color: cornflowerblue;
}
.li-in:hover{
    transition: 0.3s;
    transform: scale(1.05);
    border-radius: 10px;
    background-color: hotpink;
    color: white;
}
.li-linked:hover{
    transition: 0.3s;
    transform: scale(1.05);
    border-radius: 10px;
    color: white;
    background-color: dodgerblue;
}
.li-mail:hover{
    transition: 0.3s;
    transform: scale(1.05);
    border-radius: 10px;
    color:darkred;
}

